.profile-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    .name {
        font-size: 2.6rem;
        line-height: 30px;
        margin-bottom: 0rem;

    }

    .login {
        font-size: 2rem;
        font-weight: 300;
        line-height: 24px;
        color: #666;
    }

    .follow-button {
        margin-top: 1rem;
        display: block;
    }

    .bio {
        line-height: 1.5;
        color: #24292e;
        font-size: 1.4rem;
        margin-top: 1rem;
    }
}